<!--
  Generated template for the PaymentMethodPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-toolbar>
        <ion-searchbar showCancelButton="true" (ionCancel)="dismiss()" #searchBarInsurance
                       placeholder="Nome do convênio"></ion-searchbar>
    </ion-toolbar>
</ion-header>


<ion-content>
    <ion-list>
        <button *ngFor="let privatePayment of privatePayments" ion-item (click)="chooseItem(privatePayment)">
            {{privatePayment.name}}
        </button>
        <ion-item-divider color="light">
            Meus convenios
        </ion-item-divider>
        <button ion-item *ngFor="let myInsurance of myInsurances" (click)="chooseItem(myInsurance)">
            {{myInsurance.name}}
            <ion-note item-end>
                {{myInsurance.plan}}
            </ion-note>
        </button>
        <ion-item-divider color="light">
            Todos os convenios
        </ion-item-divider>
        <button ion-item *ngFor="let insurance of insurances" (click)="chooseItem(insurance)">
            {{insurance.name}}
        </button>
    </ion-list>
</ion-content>
