page-home {

  .search-background {
    //background-image: url("assets/img/fundo-busca.svg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 35px;
  }

  .toolbar-background {
    background-color: transparent;
  }

  .pt150 {
    margin-top: 150px;
  }

  .toolbar-background {
    border-style: none !important;
  }

  background-color: #246994;
  border-bottom: #246994 1px solid;
}

.platform-android {
  .header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before {
    background-image: none;
  }
  .search-background {
    margin-top: 55px !important;
  }


}
.field-label {
  color: #4b4b4b;
  //font-size: 17px;
}
