// http://ionicframework.com/docs/v2/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.platform-android {
  .button, .button-md {
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .button-md {
    height: 40px;
    border-radius: 4px;
  }

  .searchbar-input {
    -webkit-box-shadow: none;
    border-bottom: 1px solid #D7D7D7;
  }
}

.platform-ios{
  .searchbar-ios-cancel{
    color: #fff;
  }
  .text-ios-primary{
    color: #fff;
  }
}

.button-home {
  margin-top: 13px;
}

.button-home .button-inner {
  justify-content: flex-start;
}

ion-note{
  font-size: 13px;
}
