// http://ionicframework.com/docs/v2/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.platform-android {
  .button, .button-md {
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .button-md {
    height: 40px;
    border-radius: 4px;
  }

  .searchbar-input {
    -webkit-box-shadow: none;
    border-bottom: 1px solid #D7D7D7;
  }

  .item-inner {
    box-shadow: none !important;
  }

  .item-input-has-focus .item-inner {
    border-bottom: 2px solid #2D9CD7;
  }

  .list-md .item-input:last-child {
    border-bottom: none;
    box-shadow: none;
  }
}

.platform-ios {
  .searchbar-ios-cancel {
    color: #fff;
  }
  .text-ios-primary {
    color: #fff;
  }

  .item-select .label{
    text-transform: none!important;
    font-weight: 400!important;
  }
}

.item-input, .item-select, .item-range, .item-datetime {
  padding-left: 0 !important;
}

.button-home {
  margin-top: 13px;
}

.button-home .button-inner {
  justify-content: flex-start;
}

ion-note {
  font-size: 13px;
}

.text-center {
  text-align: center;
}

.menu-item-icon {
  padding-top: 5px;
  padding-left: 16px;
}

.menu-item {
  padding-left: 0;
}

.bt0 {
  border-top: none !important;
}

.mt5 {
  margin-top: 5px;
}

.profile-wizard {
  .button-outline-ios-light {
    color: #fff;
  }

  .button-outline-ios-light.activated {
    color: #5ab0e2;
  }


  background-color: #5ab0e2;
  color: #fff !important;

  .profile-wizard-title {
    padding-top: 175px;
  }

  .profile-wizard-response {
    padding-top: 40px;
  }

  ::selection {
    color: #fff;
    background-color: #007aff;
  }

  .item-input, .item-multi-picker, .item-datetime {
    .item-inner {
      border-bottom: none;
    }

    border-top: none !important;

    background-color: transparent;
    color: #fff;

    .multi-picker-placeholder {
      color: #fff;
    }

    ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
      color: #fff;
      font-size: 22px;
    }
    font-size: 22px;
    border-bottom: 1px solid #fff !important;
  }
}

.datetime {
  padding-bottom: 4px;
}

.custom-icon {
  font-size: 1.4em;
}
