<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
    <ion-searchbar #searchBarLocation placeholder="Busque por bairro, cidade ou rua..." [(ngModel)]="autocomplete.query"
                   [showCancelButton]="true" (ionInput)="updateSearch()" (ionCancel)="dismiss()"></ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list class="location-list">
    <button (click)="chooseCurrentLocation()" ion-item tappable icon-start>
      <ion-avatar item-start>
        <ion-icon name="locate"></ion-icon>
      </ion-avatar>
      Minha localização
    </button>

    <button (click)="chooseItem(savedLocation)" ion-item tappable icon-start
            *ngFor="let savedLocation of savedLocations">
      <ion-avatar item-start>
        <ion-icon name="{{savedLocation.icon}}"></ion-icon>
      </ion-avatar>
      {{savedLocation.label}}
      <p>{{savedLocation.address}}</p>
    </button>
    <button ion-item *ngFor="let item of autocompleteItems" tappable (click)="chooseItem(item)">
      {{ item }}
    </button>
  </ion-list>
</ion-content>
